@import "./mixins.scss";

@include sm {
  .custom-input {
    padding-bottom: 3px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px solid rgba($color: #ffffff, $alpha: 1);
    background-color: transparent;
  }

  .background__theme_dark {
    width: 100%;
    background-color: #131313;
    .container {
      display: block;
      .side-wrapper {
        display: none;
      }

      .main-wrapper {
        width: 100%;
        .nav-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 90%;
          margin: 0 auto;
          height: 57px;
          text-transform: uppercase;

          .nav-wrapper__logo {
            font-family: "Futura DemiC";
            font-size: 12px;
            color: #e3b873;
          }

          .menu {
            display: none;
          }

          .nav-wrapper__phone {
            p {
              font-family: "Futura DemiC";
              font-size: 12px;
              color: #ffffff;
            }
          }

          .nav-wrapper__btn-request {
            display: none;
          }
        }

        .intro {
          display: flex;
          align-items: center;
          width: 100%;
          .main-block {
            display: flex;
            align-items: center;
            width: 100%;
            height: fit-content;
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
              url("../assets/images/intro/main_photo.jpg") no-repeat 41% 0%;
            background-size: cover;
            .content {
              width: 90%;
              margin: 0 auto;
              padding-bottom: 60px;
              color: #ffffff;

              .content__heading {
                margin-top: 85px;
                font-family: "Yeseva One";
                font-size: 23px;
                line-height: 1.33;
                letter-spacing: 0;
                text-transform: uppercase;
              }

              .content__heading_color_yellow {
                color: #e3b873;
              }

              .content__text {
                width: 90%;
                margin-top: 10px;
                font-size: 18px;
                font-family: "Futura BookC";
                line-height: 1.4;
                letter-spacing: 0;
              }
            }

            .buttons {
              display: block;
              justify-content: start;
              width: 100%;
              margin: 20px auto 0 auto;
              text-align: center;

              .buttons__btn {
                margin-top: 20px;
              }

              .buttons__btn_type_calculate {
                font-size: 13px;
                box-shadow: rgba(227, 184, 115, 0.2) 0px 5px 15px;
              }

              .buttons__btn_type_submit {
                font-size: 13px;
                border: 1px solid #ffffff;
              }
            }
          }
        }
      }
    }

    .scroll-block {
      display: none;
    }

    .complete-projects {
      display: none;
    }

    .complete-projects_mobile {
      display: block;
      justify-content: start;
      margin: 0 auto;
      padding-bottom: 65px;
      .side-wrapper {
        width: 100%;
        margin-top: 35px;
        .title {
          text-align: center;
          .title__text {
            width: fit-content;
            margin: 0 auto;
            font-family: "Yeseva One";
            font-size: 22px;
            color: #e3b873;
            line-height: 1.38;
            letter-spacing: -1px;
            text-transform: uppercase;
          }
          .title__decor {
            display: none;
          }
        }
        .content {
          text-align: center;
          .content__para {
            width: 83%;
            margin: 30px auto 0 auto;
            padding-bottom: 0;
            font-family: "Futura BookC";
            font-size: 14px;
            line-height: 1.58;
            color: #ffffff;
          }
        }
      }
      .main-wrapper {
        width: 100%;
        .project-list {
          display: none;
        }
        .project-slider-block {
          width: 90%;
          margin: 0 auto;
          .slider {
            width: 100%;
            .slider__item {
              width: 100%;
              height: 241px;
              display: block;
              margin-right: 20px;
            }

            .slider__controlls {
              position: relative;
              top: 140px;
              display: flex;
              justify-content: space-between;
              width: 92%;
              margin: 0 auto;
              .slider-controll {
                display: block;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background-color: #e3b873;
                box-shadow: rgba($color: #e3b873, $alpha: 0.5) 0px 0px 15px 0px;
                cursor: pointer;
              }

              .slider-controll_left {
                transform: rotate(180deg);
              }
            }

            .slider-controll__arrow {
              position: relative;
              left: 15px;
              display: block;
              width: 10px;
              height: 3px;
              background-color: #ffffff;
            }

            .slider-controll__arrow_left {
              top: 14px;
              transform: rotate(45deg);
            }

            .slider-controll__arrow_right {
              top: 17px;
              transform: rotate(-45deg);
            }
          }
        }
      }

      .info-blocks {
        height: fit-content;
        width: 90%;
        margin: 0 auto;
        .info-block {
          display: flex;
          justify-content: space-between;
          margin-top: 36px;
          text-align: start;
          .item-left {
            width: 40%;
            .item-left__title {
              font-family: "Yeseva One";
              font-size: 14px;
              line-height: 1.38;
              text-transform: uppercase;
              color: #e3b873;
            }
            .item-left__text {
              width: 70%;
              margin-top: 12px;
              font-family: "Futura BookC";
              font-size: 14px;
              line-height: 1.36;
              color: #ffffff;
            }
          }
          .item-right {
            width: 50%;
            .item-right__title {
              font-family: "Yeseva One";
              font-size: 14px;
              line-height: 1.38;
              text-transform: uppercase;
              color: #e3b873;
            }
            .item-right__text {
              width: 80%;
              margin-top: 12px;
              font-family: "Futura BookC";
              font-size: 14px;
              line-height: 1.36;
              color: #ffffff;
            }
          }
        }
      }
      .slider-controll {
        display: none;
      }
    }
  }

  .controll-light-form-block {
    display: block;
    width: 100%;
    margin: -1px auto 0 auto;
    background-color: #131313;

    .online-controll-block {
      text-align: center;
      .online-controll-block__title {
        color: #ffffff;
      }

      .decoration-block {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;

        .decoration-block__line {
          display: block;
          width: 32px;
          margin-right: 10px;
          height: 1.5px;
          background-color: #e3b873;
        }
        .decoration-block__line:last-of-type {
          margin-left: 10px;
        }
      }
    }

    .video-block {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      height: 207px;
      margin: 40px auto 0 auto;
      background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url(../assets/images/control-form/video.jpg);
      background-size: cover;
      box-shadow: none;

      .video-controll-area {
        width: 85px;
        height: 85px;
        border-radius: 50%;
        background-color: #e3b873;
        box-shadow: rgba($color: #e3b873, $alpha: 0.2) 0px 5px 30px 0px;
        cursor: pointer;

        .video-controll-area__btn-play {
          position: relative;
          top: 30px;
          left: 35px;
          display: block;
          width: 0;
          height: 0;
          border-top: 13px solid transparent;
          border-bottom: 13px solid transparent;
          border-left: 21px solid #ffffff;
        }
      }
    }

    .content {
      width: 100%;
      margin-top: 28px;
      .content__decor {
        display: block;
        width: 55px;
        margin: 0 auto;
        height: 1.5px;
        background-color: #e3b873;
      }

      .content__text {
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        font-family: "Futura BookC";
        font-size: 14px;
        line-height: 1.7;
        color: #ffffff;
      }
    }
    .light-form-block {
      width: 90%;
      margin: 30px auto 0 auto;
      .form {
        display: none;
      }
      .form_mobile {
        display: block;
        .form-line {
          display: block;
          align-items: flex-start;
          .form-group {
            display: block;
            &:first-of-type {
              .form-group__input {
                margin-bottom: 60px;
              }
            }
            .form-group__label {
              display: block;
              font-family: "Futura BookC";
              font-size: 15px;
              line-height: 1.36;
              text-align: start;
              color: rgba($color: #ffffff, $alpha: 0.5);
            }

            .form-group__input {
              width: 100%;
              font-family: "Futura BookC";
              font-size: 18px;
              line-height: 1.36;
              color: #ffffff;
            }
            .form-group__input::placeholder {
              color: #ffffff;
            }
          }
        }
      }
      .form__btn_submit {
        position: relative;
        top: 25px;
        display: block;
        padding: 18px 75px;
        font-size: 15px;
        color: #ffffff;
        border-radius: 0;
      }
      .form-personal-data-block {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-top: 32px;
        padding-bottom: 35px;

        input[type="checkbox"] {
          opacity: 0;
          cursor: pointer;
          height: 12px;
          width: 12px;
        }

        .form-personal-data-block__checkbox {
          display: block;
          width: 18px;
          height: 18px;
          background-color: #e3b873;
          border-radius: 1px;
          cursor: pointer;
        }

        .form-personal-data-block__checkbox::after {
          content: "";
          position: relative;
          display: block;
          left: 7px;
          top: 2px;
          width: 3px;
          height: 8px;
          border: solid white;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        .form-personal-data-block__desc {
          display: inline-block;
          margin-left: 10px;
          font-family: "Futura BookC";
          font-size: 16px;
          line-height: 1.36;
          color: #ffffff;
        }
      }
    }
  }

  .types-of-repair-block {
    margin-top: 80px;
    text-align: center;

    .types-of-repair-block__title {
      color: #181818;
    }

    .decor {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
      .decor__line {
        display: block;
        width: 32px;
        height: 1.5px;
        margin-right: 10px;
        background-color: #e3b873;
      }
      .decor__line:last-of-type {
        margin-left: 10px;
      }
    }

    .list-of-types {
      width: 90%;
      margin: 30px auto 0 auto;
      .item-block {
        display: block;
        width: 100%;
        margin-bottom: 80px;
        &:last-of-type {
          margin-right: 0;
        }
        .item-block__img {
          width: 100%;
          height: 420px;
        }

        .item {
          position: relative;
          width: 80%;
          height: fit-content;
          margin-bottom: 70px;
          background-color: #ffffff;
          text-align: start;
          margin: -160px 0 0 0;
          box-shadow: rgba($color: #000000, $alpha: 0.05) 5px 10px 20px 0px;
          .item__heading {
            width: 80%;
            padding-top: 20px;
            font-family: "Yeseva One";
            font-size: 15px;
            line-height: 1.38;
            color: #363636;
          }

          .item__btn {
            display: block;
            width: fit-content;
            margin-top: 0;
            padding: 10px 28px;
            font-family: "Yeseva One";
            font-size: 15px;
            line-height: 1.38;
            border-radius: 0;
            box-shadow: rgba($color: #e3b873, $alpha: 0.3) 5px 5px 10px 0;
          }

          .item__list {
            margin-top: 10px;
            .item__list__list-item {
              width: 73%;
              margin: 0 auto;
              font-family: "Futura BookC";
              font-size: 13px;
              line-height: 1.7;
              color: #959595;
            }
          }
        }
      }
    }
  }

  .advantages-request-form-block {
    display: none;
  }

  .fantasies-block {
    display: none;
  }

  .fantasies-block_mobile {
    display: block;
    width: 100%;
    .fantasies-heading {
      text-align: center;
      .fantasies-heading__text {
        font-size: 22px;
      }
    }
    .fantasies-slider {
      width: 90%;
      margin: 0 auto;
      .fantasies-slider__img {
        width: 100%;
        height: 240px;
      }
      .slider__controlls {
        position: relative;
        top: 140px;
        display: flex;
        justify-content: space-between;
        width: 92%;
        margin: 0 auto;
        .slider-controll {
          display: block;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background-color: #e3b873;
          box-shadow: rgba($color: #e3b873, $alpha: 0.5) 0px 0px 15px 0px;
          cursor: pointer;
        }

        .slider-controll_left {
          transform: rotate(180deg);
        }
      }

      .slider-controll__arrow {
        position: relative;
        left: 15px;
        display: block;
        width: 10px;
        height: 3px;
        background-color: #ffffff;
      }

      .slider-controll__arrow_left {
        top: 14px;
        transform: rotate(45deg);
      }

      .slider-controll__arrow_right {
        top: 17px;
        transform: rotate(-45deg);
      }
    }
  }

  .design-projects-block {
    width: 100%;
    height: fit-content;
    padding-top: 150px;
    margin-top: -120px;
    background-color: #131313;
    .container {
      text-align: center;
      .container__title {
        font-size: 22px;
        color: #ffffff;
      }

      .container__description {
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        font-family: "Futura BookC";
        font-size: 15px;
        color: #ffffff;
        line-height: 1.36;
      }

      .decor {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        .decor__line {
          display: inline-block;
          width: 32px;
          height: 1.5px;
          background-color: #e3b873;
        }

        .decor__icon {
          margin-right: 10px;
        }

        .decor__icon:last-of-type {
          margin-left: 10px;
        }
      }
      .projects-list {
        display: block;
        justify-content: initial;
        width: 90%;
        margin: 30px auto 0 auto;
        .project-item {
          width: 100%;
          margin-right: 0;
          margin-bottom: 80px;
          text-align: start;
          .project-item__img {
            width: 100%;
            filter: brightness(0.8);
          }

          .content-block {
            position: relative;
            width: 80%;
            margin: -160px 0 0 0;
            z-index: 1;
            background-color: #ffffff;
            box-shadow: rgba($color: #000000, $alpha: 0.03) 10px 10px 20px 0px;

            .text-wrapper {
              .text-group {
                margin-left: 30px;
                padding-top: 20px;
                .project-type {
                  font-family: "Yeseva One";
                  font-size: 15px;
                  line-height: 1.39;
                  color: #363636;
                }

                .service-list {
                  margin-left: 15px;
                  margin-top: 10px;
                  .service-list__item {
                    font-family: "Futura BookC";
                    font-size: 13px;
                    line-height: 1.7;
                    color: #959595;
                  }
                }
              }
            }
            .project-item__btn {
              position: relative;
              top: 20px;
              width: fit-content;
              padding: 12px 49px;
              font-size: 15px;
              border-radius: 0;
              box-shadow: rgba($color: #e3b873, $alpha: 0.3) 5px 5px 10px 0px;
            }
          }
        }

        .project-item:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  .background__theme_dark {
    background-color: #131313;
    .steps-to-goal {
      display: none;
    }
    .our-team-block {
      height: fit-content;
      margin-top: 0px;
      padding-top: 90px;
      text-align: center;
      .our-team-block__title {
        font-size: 22px;
        color: #ffffff;
      }

      .decor {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        .decor__line {
          display: inline-block;
          width: 32px;
          height: 1.5px;
          background-color: #e3b873;
        }

        .decor__icon {
          margin-right: 10px;
        }

        .decor__icon:last-of-type {
          margin-left: 10px;
        }
      }
      .our-team-block__description {
        color: #ffffff;
        font-size: 16px;
      }

      .team-list {
        position: relative;
        display: block;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        .team-member {
          margin-bottom: 80px;
          margin-top: 25px;
          .team-member__icon-block {
            position: relative;
            z-index: 1;
            top: 35px;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 70px;
            background-color: #e3b873;
            box-shadow: rgba($color: #e3b873, $alpha: 0.5) 0px 5px 20px 0px;
          }

          .member-card {
            position: relative;
            width: 90%;
            margin-left: auto;
            .member-card__img {
              width: 100%;
            }

            .member-card__content {
              position: absolute;
              top: 80%;
              left: 8%;
              width: 84%;
              background-color: #ffffff;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 15px 0px;
              .member__name {
                padding-top: 25px;
                font-family: "Yeseva One";
                font-size: 18px;
                line-height: 1.39;
                color: #181818;
              }
              .member__position {
                font-family: "Futura BookC";
                font-size: 15px;
                line-height: 1.47;
                color: #959595;
              }
              .member__work-experience {
                margin-top: 20px;
                padding: 12px 0px;
                font-family: "Yeseva One";
                font-size: 13px;
                line-height: 1.5;
                background-color: #e3b873;
                color: #ffffff;
                text-transform: uppercase;
              }
            }
          }
        }
      }

      .more-info {
        display: none;
      }
    }
  }

  .our-clients-block {
    display: none;
  }

  .decoration {
    display: none;
  }

  .question-form-block {
    position: initial;
    top: 0;
    z-index: 0;
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    background-color: #181818;
    text-align: center;
    .question-form-block__title {
      display: inline-block;
      margin-top: 35px;
      font-family: "Yeseva One";
      font-size: 20px;
      line-height: 1.39;
      color: #ffffff;
      text-transform: uppercase;
    }

    .form-block {
      padding-bottom: 35px;
      .form_mobile {
        display: block;
        width: 90%;
        margin: 50px auto 0 auto;
        .form-group {
          &:last-of-type {
            margin-top: 0px;
          }
          margin-top: 50px;
          .form-group__label {
            text-align: start;
            display: block;
            font-family: "Futura BookC";
            font-size: 15px;
            line-height: 1.36;
            color: rgba($color: #ffffff, $alpha: 0.5);
          }
          .form-group__input {
            width: 100%;
            font-family: "Futura BookC";
            font-size: 18px;
            line-height: 1.36;
            color: #ffffff;
          }

          .form-group__input::placeholder {
            color: #ffffff;
          }
        }

        .form-personal-data-block {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 32px;

          input[type="checkbox"] {
            opacity: 0;
            cursor: pointer;
            height: 12px;
            width: 12px;
          }

          .form-personal-data-block__checkbox {
            display: block;
            width: 18px;
            height: 18px;
            background-color: #e3b873;
            border-radius: 1px;
            cursor: pointer;
          }

          .form-personal-data-block__checkbox::after {
            content: "";
            position: relative;
            display: block;
            left: 7px;
            top: 2px;
            width: 3px;
            height: 8px;
            border: solid white;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }

          .form-personal-data-block__desc {
            display: inline-block;
            margin-left: 10px;
            font-family: "Futura BookC";
            font-size: 16px;
            line-height: 1.36;
            color: #ffffff;
          }
        }

        .form__btn_submit {
          width: 100%;
          margin: 50px auto 0 auto;
          padding: 17px 0px;
          border-radius: 0;
          box-shadow: rgba($color: #e3b873, $alpha: 0.1) 0 10px 20px 0;
        }
      }
      .form {
        display: none;
      }
    }
  }

  .contact-info-block {
    display: none;
  }

  .contact-info-block_mobile {
    position: initial;
    z-index: 0;
    display: block;
    justify-content: initial;
    margin-top: 0;
    padding-top: 10px;
    background: none;
    background-size: unset;
    text-align: center;
    background-color: #131313;
    .contact-info {
      width: 90%;
      margin: 0 auto;
      padding-bottom: 40px;

      .contact-info__adress {
        display: inline-block;
        margin-top: 40px;
        font-family: "Yeseva One";
        font-size: 18px;
        line-height: 1.39;
        color: #e3b873;
        text-transform: uppercase;
      }

      .contact-info__social {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .social-item {
          display: flex;
          justify-content: center;
          align-items: center;
          width: fit-content;
          width: 39px;
          height: 39px;
          margin-right: 15px;
          border-radius: 50%;
          background-color: #e3b873;
          cursor: pointer;
          &:last-of-type {
            margin-right: 0;
          }
          .social-item__mail {
            width: 20px;
            height: 15px;
          }

          .social-item__insta {
            width: 17px;
            height: 17px;
          }
        }
      }

      .contact-info__map {
        width: 100%;
        margin-top: 0;
      }
    }
  }

  .footer {
    display: none;
  }
}
