@import "./reset.scss";
@import "./fonts.scss";

a {
  text-decoration: none;
  color: #fff;
}

body {
  background-color: #131313;
}

.container {
  display: flex;
  .side-wrapper {
    width: 6%;
    display: flex;
    align-items: center;

    .side-link {
      position: absolute;
      left: -35px;
      width: fit-content;
      transform: rotate(90deg);
      cursor: pointer;
      .side-link__insta {
        display: inline;
        font-family: "Futura DemiC";
        text-transform: uppercase;
        color: #e3b873;
      }

      .side-link__decor {
        position: relative;
        top: -4px;
        left: 12px;
        display: inline-block;
        width: 51px;
        height: 2px;
        background-color: #e3b873;
      }
    }
  }

  .main-wrapper {
    width: 94%;

    .nav-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 82px;
      margin-right: 100px;
      text-transform: uppercase;
      line-height: 15px;

      .nav-wrapper__logo {
        font-family: "Futura DemiC";
        color: #e3b873;
      }

      .menu {
        font-family: "Futura BookC";
        color: #fff;

        .menu-list {
          .list-item {
            display: inline-block;
            margin-left: 44px;
          }

          .list-item:last-of-type {
            margin-right: 30px;
          }

          .list-item__link {
            font-weight: 100;
          }

          .list-item__link_active {
            color: #e3b873;
          }
        }
      }

      .nav-wrapper__phone {
        p {
          color: #e3b873;
          text-decoration: underline;
          font-family: "Futura DemiC";
        }
      }

      .nav-wrapper__btn-request {
        padding: 11px 33px;
        border-radius: 2px;
        box-shadow: rgba(227, 184, 115, 0.2) 0px 5px 15px;
        font-family: "Futura DemiC";
        font-size: 13px;
        color: #fff;
        background-color: #e3b873;
      }
    }

    .intro {
      display: flex;
      align-items: center;
      width: 100%;
      .main-block {
        display: flex;
        align-items: center;
        width: 100%;
        height: 87vh;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
          url("../assets/images/intro/main_photo.jpg") no-repeat 0% 80%;
        background-size: cover;
        .content {
          width: 40%;
          margin-left: 70px;
          color: #ffffff;

          .content__heading {
            font-family: "Yeseva One";
            font-size: 40px;
            line-height: 1.4;
            letter-spacing: 1.5px;
            text-transform: uppercase;
          }

          .content__heading_color_yellow {
            color: #e3b873;
          }

          .content__text {
            width: 80%;
            margin-top: 14px;
            font-size: 22px;
            font-family: "Futura BookC";
            font-weight: 100;
            line-height: 1.4;
            letter-spacing: 0.5px;
          }
        }

        .buttons {
          width: 76%;
          margin-top: 50px;

          .buttons__btn {
            font-family: "Futura DemiC Italic";
            font-weight: 100;
            font-size: 13px;
            text-align: center;
            text-transform: uppercase;
            border-radius: 2px;
            cursor: pointer;
          }

          .buttons__btn_type_calculate {
            float: left;
            padding: 19px 42px;
            background-color: #e3b873;
            box-shadow: rgba(227, 184, 115, 0.2) 0px 5px 15px;
          }

          .buttons__btn_type_submit {
            float: right;
            padding: 18px 22px;
            border: 1px solid #ffffff;
          }
        }
      }
    }
  }
}

.scroll-block {
  position: relative;
  top: -50px;
  display: flex;
  align-items: center;
  width: 17%;
  padding: 35px 50px;
  box-sizing: border-box;
  background-color: #131313;
  cursor: pointer;

  .scroll-block__text {
    font-family: "Yeseva One";
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
  }

  .scroll-block__arrow-icon {
    float: right;
    margin-left: 15px;
  }
}

.complete-projects {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  .side-wrapper {
    width: 35%;
    margin-top: 75px;
    .title {
      .title__text {
        width: 40%;
        font-family: "Yeseva One";
        font-size: 27px;
        color: #e3b873;
        line-height: 1.38;
        letter-spacing: -1px;
        text-transform: uppercase;
      }
      .title__decor {
        position: relative;
        top: -20px;
        left: 170px;
        display: block;
        width: 92px;
        height: 1px;
        background-color: #e3b873;
      }
    }
    .content {
      .content__para {
        width: 80%;
        margin-top: 30px;
        padding-bottom: 14px;
        font-family: "Futura BookC";
        font-size: 18px;
        line-height: 1.58;
        color: #ffffff;
      }

      .info-blocks {
        height: 200px;
        width: 70%;
        .info-block {
          display: flex;
          justify-content: space-between;
          margin-top: 30px;
          .item-left {
            width: 40%;
            .item-left__title {
              font-family: "Yeseva One";
              font-size: 18px;
              line-height: 1.38;
              text-transform: uppercase;
              color: #e3b873;
            }
            .item-left__text {
              width: 70%;
              margin-top: 12px;
              font-family: "Futura BookC";
              font-size: 15px;
              line-height: 1.36;
              color: #ffffff;
            }
          }
          .item-right {
            width: 50%;
            .item-right__title {
              font-family: "Yeseva One";
              font-size: 18px;
              line-height: 1.38;
              text-transform: uppercase;
              color: #e3b873;
            }
            .item-right__text {
              width: 80%;
              margin-top: 12px;
              font-family: "Futura BookC";
              font-size: 15px;
              line-height: 1.36;
              color: #ffffff;
            }
          }
        }
      }
      .slider-controll {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 38%;
        margin-top: 36px;
        .slider-controll__controll-btn {
          cursor: pointer;
        }

        .slider-controll__controll-btn_prev {
          margin-right: 7px;
        }

        .slider-controll__controll-btn_next {
          margin-left: 7px;
          transform: rotate(180deg);
        }

        .slider-controll__item {
          display: inline-block;
          width: 9px;
          height: 9px;
          border-radius: 100%;
          background-color: rgba($color: #ffffff, $alpha: 0.3);
          cursor: pointer;
        }

        .slider-controll__item:last-of-type {
          margin-right: 0;
        }

        .slider-controll__item_active {
          background-color: #ffffff;
        }
      }
    }
  }
  .main-wrapper {
    width: 63%;

    .project-list {
      .list {
        .list__item {
          display: inline-block;
          margin-right: 70px;
          font-family: "Yeseva One";
          font-size: 14px;
          font-weight: 100;
          line-height: 1.39;
          text-transform: uppercase;
          color: rgba($color: #ffffff, $alpha: 0.3);
        }
        .list__item:last-of-type {
          margin-right: 0;
        }

        .list__item_active {
          color: #e3b873;
        }

        .list__item_active::after {
          content: "";
          position: relative;
          top: 3px;
          display: block;
          width: 100%;
          height: 1px;
          background-color: #e3b873;
        }
      }
    }
    .project-slider-block {
      width: 100%;
      overflow: hidden;

      .slider {
        width: 220%;
        .slider__item {
          display: inline-block;
          margin-right: 20px;
        }

        .slider-controll {
          position: relative;
          left: 41%;
          top: 268px;
          width: 55px;
          height: 55px;
          border-radius: 50%;
          background-color: #e3b873;
          box-shadow: rgba($color: #e3b873, $alpha: 0.5) 0px 0px 15px 0px;
          cursor: pointer;
        }

        .slider-controll__arrow {
          position: relative;
          left: 23px;
          display: block;
          width: 14px;
          height: 3px;
          background-color: #ffffff;
        }

        .slider-controll__arrow_left {
          top: 22px;
          transform: rotate(45deg);
        }

        .slider-controll__arrow_right {
          top: 28px;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
