@import "./reset.scss";
@import "./fonts.scss";

a {
  text-decoration: none;
  color: #fff;
}

body {
  background-color: #131313;
}

nav {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  line-height: 15px;

  .nav-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 82px;
    margin-right: 30px;

    .nav-wrapper__logo {
      margin-left: -10px;
      font-family: "Futura DemiC";
      color: #e3b873;
    }

    .nav-wrapper__menu {
      font-family: "Futura BookC";
      color: #fff;

      ul {
        li {
          display: inline-block;
          margin-left: 44px;
          font-weight: 100;
        }

        li:last-of-type {
          margin-right: 30px;
        }
      }
    }

    .nav-wrapper__phone {
      p {
        color: #e3b873;
        text-decoration: underline;
        font-family: "Futura DemiC";
      }
    }

    .nav-wrapper__btn-request {
      padding: 11px 33px;
      border-radius: 2px;
      box-shadow: rgba(227, 184, 115, 0.2) 0px 5px 15px;
      font-family: "Futura DemiC";
      font-size: 13px;
      color: #fff;
      background-color: #e3b873;
    }
  }
}

.intro {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  .side-link {
    position: absolute;
    left: -41px;
    width: fit-content;
    transform: rotate(90deg);
    cursor: pointer;

    .side-link__insta {
      display: inline;
      font-family: "Futura DemiC";
      text-transform: uppercase;
      color: #e3b873;
    }

    .side-link__decor {
      position: relative;
      top: -4px;
      left: 12px;
      display: inline-block;
      width: 51px;
      height: 2px;
      background-color: #e3b873;
    }
  }

  .main-block {
    display: flex;
    align-items: center;
    width: 95%;
    height: 710px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../assets//images/main_photo.jpg") no-repeat 50% 50%;
    background-size: cover;

    .content {
      width: 40%;
      margin-left: 60px;
      color: #ffffff;

      .content__heading {
        font-family: "Yeseva One";
        font-size: 40px;
        line-height: 1.4;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      .content__heading_color_yellow {
        color: #e3b873;
      }

      .content__text {
        width: 80%;
        margin-top: 34px;
        font-size: 22px;
        font-family: "Futura BookC";
        font-weight: 100;
        line-height: 1.4;
        letter-spacing: 0.5px;
      }
    }

    .buttons {
      width: 76%;
      margin-top: 54px;

      .buttons__btn {
        font-family: "Futura DemiC Italic";
        font-weight: 100;
        font-size: 13px;
        text-align: center;
        text-transform: uppercase;
        border-radius: 2px;
        cursor: pointer;
      }

      .buttons__btn_type_calculate {
        float: left;
        padding: 19px 42px;
        background-color: #e3b873;
        box-shadow: rgba(227, 184, 115, 0.2) 0px 5px 15px;
      }

      .buttons__btn_type_submit {
        float: right;
        padding: 18px 22px;
        border: 1px solid #ffffff;
      }
    }
  }
}

.scroll-block {
  position: relative;
  top: -50px;
  display: flex;
  align-items: center;
  width: 297px;
  padding: 35px 50px;
  box-sizing: border-box;
  background-color: #131313;
  cursor: pointer;

  .scroll-block__text {
    float: left;
    font-family: "Yeseva One";
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
  }

  .scroll-block__arrow-icon {
    float: right;
    margin-left: 20px;
  }
}

.complete-projects {
  margin-left: 100px;
  .side-wrapper {
    width: 35%;

    .title {
      .title__text {
        width: 40%;
        font-family: "Yeseva One";
        font-size: 27px;
        color: #e3b873;
        line-height: 1.38;
        letter-spacing: -1px;
        text-transform: uppercase;
      }
      .title__decor {
        position: relative;
        top: -20px;
        left: 170px;
        display: block;
        width: 92px;
        height: 1px;
        background-color: #e3b873;
      }
    }
    .container {
      .container__para {
        width: 80%;
        margin-top: 38px;
        font-family: "Futura BookC";
        font-size: 18px;
        line-height: 1.58;
        color: #ffffff;
      }

      .info-blocks {
        display: flex;
        justify-content: space-between;
        height: 200px;
        width: 70%;
        .left-block {
          .item {
            width: 80%;
            .item_title {
              font-family: "Yeseva One";
              font-size: 18px;
              line-height: 1.38;
              text-transform: uppercase;
              color: #e3b873;
            }
            .item_text {
              width: 80%;
              margin-top: 12px;
              font-family: "Futura BookC";
              font-size: 15px;
              line-height: 1.36;
              color: #ffffff;
            }
          }
        }
        .right-block {
          .item {
            grid-area: right;
            .item_title {
              font-family: "Yeseva One";
              font-size: 18px;
              line-height: 1.38;
              text-transform: uppercase;
              color: #e3b873;
            }
            .item_text {
              width: 80%;
              margin-top: 12px;
              font-family: "Futura BookC";
              font-size: 15px;
              line-height: 1.36;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
  .main-wrapper {
  }
}
